.background::before{

    content: "";
    position: absolute;
    top: 255px;

   
    bottom: 0;
    left: 10px;
    z-index: -1;
    background-image: url('../../images/inventory.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.25;
    opacity: 10%;
    height: 505px;
    width: 754px;
}
.border{
    border:1px solid black !important;
}